.container.user-new
  =form_for(resource, as: resource_name, :url => registration_path(resource_name), :html => {:method => :post}) do |f|
    .col-md-8.col-md-offset-2
      =devise_error_messages!
      %header.row.user-nav.row
        .col-md-12
          %h2 Register
          .user-name_image.row
            .user-name.col-md-10
              =f.text_field :name, placeholder: "Username"
            .user-image.col-md-2
              = f.button "Add image", class: "btn btn-primary"
              / %button.btn.btn-primary Add image
              = f.file_field :avatar
              / %input{type: "file"}/
          .user-email
            =f.text_field :email, placeholder: "E-mail"
          .user-password
            =f.text_field :password, placeholder:"Password"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              =f.text_field :member, placeholder: "Member"
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              =f.text_area :profile, placeholder: "Plofile",cols: "30", rows: "4"
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              =f.text_area :works, placeholder: "Works", cols: "30", rows: "4"
      .row.text-center.user-btn
        .btn.btn-lg.btn-primary.btn-block
          =f.submit "Save"

