.container.user-new
  =form_for current_user do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Edit Profile
          .user-name_image.row
            .user-name.col-md-10
              =f.text_field :name, placeholder: "Username"
            .user-image.col-md-2
              = image_tag current_user.avatar, style: "width: 75px; height: 75px; border-radius: 100px; position: relative; right: 16px;", alt: "64x64", "data-holder-rendered" => true, "data-src" => "holder.js/64x64", class: "media-object", id: "js-avatar"
              = f.button "Changeimage", class: "btn btn-primary"
              = f.file_field :avatar
          .user-email
            =f.text_field :email, placeholder: "E-mail"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              =f.text_field :member, placeholder: "Member"
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              =f.text_area :profile, placeholder:"Profile", cols:"30", rows: "4"
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              =f.text_area :works, placeholder: "Works", cols: "30", rows: "4"
      .row.text-center.user-btn
        .btn.btn-lg.btn-primary.btn-block
          =f.submit "Save"
